@font-face {
  font-family: "iconfont"; /* Project id 4715078 */
  src: url('//at.alicdn.com/t/c/font_4715078_sd7i266k917.woff2?t=1732804716437') format('woff2'),
       url('//at.alicdn.com/t/c/font_4715078_sd7i266k917.woff?t=1732804716437') format('woff'),
       url('//at.alicdn.com/t/c/font_4715078_sd7i266k917.ttf?t=1732804716437') format('truetype'),
       url('//at.alicdn.com/t/c/font_4715078_sd7i266k917.svg?t=1732804716437#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.icon-addresss:before {
  content: "\e619";
}

.icon-Personal:before {
  content: "\e62a";
}

.icon-right_9:before {
  content: "\e65b";
}

.icon-right:before {
  content: "\e68b";
}

.icon-bianji:before {
  content: "\e607";
}

.icon-close:before {
  content: "\e62b";
}

.icon-a-duobianxing1:before {
  content: "\e603";
}

.icon-cixing:before {
  content: "\e690";
}

.icon-xiongxing:before {
  content: "\e691";
}

.icon-icon-test:before {
  content: "\e688";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-daifahuo:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-daishouhuo:before {
  content: "\e612";
}

.icon-daifukuan:before {
  content: "\e602";
}

.icon-add:before {
  content: "\e624";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-return:before {
  content: "\e720";
}
