@font-face {
  font-family: "iconfont"; /* Project id 4715078 */
  src: url('//at.alicdn.com/t/c/font_4715078_79ustn03m1l.woff2?t=1729518351914') format('woff2'),
       url('//at.alicdn.com/t/c/font_4715078_79ustn03m1l.woff?t=1729518351914') format('woff'),
       url('//at.alicdn.com/t/c/font_4715078_79ustn03m1l.ttf?t=1729518351914') format('truetype'),
       url('//at.alicdn.com/t/c/font_4715078_79ustn03m1l.svg?t=1729518351914#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
/*  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.icon-right:before {
  content: "\e68b";
}

.icon-bianji:before {
  content: "\e607";
}

.icon-close:before {
  content: "\e62b";
}

.icon-a-duobianxing1:before {
  content: "\e603";
}

.icon-cixing:before {
  content: "\e690";
}

.icon-xiongxing:before {
  content: "\e691";
}

.icon-icon-test:before {
  content: "\e688";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-daifahuo:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-daishouhuo:before {
  content: "\e612";
}

.icon-daifukuan:before {
  content: "\e602";
}

.icon-add:before {
  content: "\e624";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-return:before {
  content: "\e720";
}
